# POSTTEST 4

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

### Info Data

In [3]:
df = pd.read_csv('Snapchat_app_store_reviews.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9560 entries, 0 to 9559
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9560 non-null   int64
 1   userName    9560 non-null   object
 2   rating      9560 non-null   int64
 3   review      9560 non-null   object
 4   isEdited    9560 non-null   bool
 5   date        9560 non-null   object
 6   title       9560 non-null   object
dtypes: bool(1), int64(2), object(4)
memory usage: 457.6+ KB

In [4]:
df.rename(columns={'Unnamed: 0': 'Number'}, inplace=True)

Panjang pada Kolom dan Attribut

In [5]:
df.shape

(9560, 7)

#### Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [6]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (6692, 6)
Dimensi X_test (2868, 6)
Dimensi y_train (6692,)
Dimensi y_test (2868,)

#### Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [7]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["rating"]]

normalization = min_max.fit_transform(dataCopy_normalization[["rating"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["rating_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["rating_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   rating  rating_normalisasi
0       4                0.75
1       3                0.50
2       3                0.50
3       5                1.00
4       1                0.00
5       1                0.00
6       4                0.75
7       1                0.00
8       1                0.00
9       1                0.00

#### Melakukan standarisasi pada dataset dengan membuat copy dataset terlebih dahulu

In [8]:
df_copy = df.copy()
columns_to_scale = ['Number', 'rating']

scaler = StandardScaler()
df_copy[columns_to_scale] = scaler.fit_transform(df_copy[columns_to_scale])

In [9]:
print("Data Sebelum Scaling:")
print(df[columns_to_scale].head())

print("\nData Sesudah Scaling:")
print(df_copy[columns_to_scale].head())

Data Sebelum Scaling:
   Number  rating
0       0       4
1       1       3
2       2       3
3       3       5
4       4       1

Data Sesudah Scaling:
     Number    rating
0 -1.731870  0.624321
1 -1.731507 -0.091328
2 -1.731145 -0.091328
3 -1.730783  1.339969
4 -1.730420 -1.522624

#### Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus)

<li>Mengecek Nilai Null</li>

In [10]:
df.isnull().sum()

Number      0
userName    0
rating      0
review      0
isEdited    0
date        0
title       0
dtype: int64

<li>Karena data tidak ada null maka akan dibuat menjadi ada null</li>

In [11]:
# Untuk Menghilangkan SettingWithCopyWarning
pd.options.mode.chained_assignment = None

df.Number[[15,100,200,300,400,500,600,700,800,900,1000]]=None;
df.rating[[15,100,200,300,400,500,600,700,800,900,1000]]=None;
df.review[[15,100,200,300,400,500,600,700,800,900,1000]]=None;

df[df.isnull().any(axis=1)]

,Number,userName,rating,review,isEdited,date,title
15,NaN,Pineconequeens,NaN,None,False,8/16/20 2:31,i‚Äôm annoyed
100,NaN,kristy k bob,NaN,None,False,8/30/20 0:09,Update idea
200,NaN,Mammsmsms,NaN,None,False,3/16/20 1:28,Alright Snapchat...
300,NaN,darrh vader rocks,NaN,None,False,5/19/20 3:44,Good
400,NaN,Berger277,NaN,None,False,10/28/20 18:06,User since 2012
500,NaN,hdjfkkgjdjfjt,NaN,None,False,5/5/20 12:14,The app is good and all but...
600,NaN,abcdefghijklmnopqrstuvwxux,NaN,None,False,8/14/20 3:51,N
700,NaN,zippers23,NaN,None,False,12/6/20 5:58,i used to love this app
800,NaN,kindamadngl,NaN,None,False,5/31/19 0:25,What the heck
900,NaN,SammyüìÄüìÄüìÄüá¨üáßüá¨üáßüá¨üáß,NaN,None,False,5/22/19 2:41,alright
1000,NaN,Lala411290,NaN,None,False,3/23/20 23:32,Snapchat Glitches & One Suggestion

<li>Data Bilangan Bulat dengan Strategi Median

In [12]:
strategi1 = SimpleImputer(strategy="median")

df["Number"] = strategi1.fit_transform(df[["Number"]])

df.isna().sum()

Number       0
userName     0
rating      11
review      11
isEdited     0
date         0
title        0
dtype: int64

In [13]:
print(df.Number[[15,100,200,300,400,500,600,700,800,900,1000]])

15      4785.0
100     4785.0
200     4785.0
300     4785.0
400     4785.0
500     4785.0
600     4785.0
700     4785.0
800     4785.0
900     4785.0
1000    4785.0
Name: Number, dtype: float64

<li>Data Bilangan Desimal dengan Strategi Mean

In [14]:
strategi2 = SimpleImputer(strategy="mean")

df["rating"] = strategi2.fit_transform(df[["rating"]])

df.isna().sum()

Number       0
userName     0
rating       0
review      11
isEdited     0
date         0
title        0
dtype: int64

In [15]:
print(df.rating[[15,100,200,300,400,500,600,700,800,900,1000]])

15      3.12682
100     3.12682
200     3.12682
300     3.12682
400     3.12682
500     3.12682
600     3.12682
700     3.12682
800     3.12682
900     3.12682
1000    3.12682
Name: rating, dtype: float64

<li> Data Tulisan dengan Strategi Modus

In [16]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

df["review"] = strategi3.fit_transform(df[["review"]])

df.isna().sum()

Number      0
userName    0
rating      0
review      0
isEdited    0
date        0
title       0
dtype: int64

In [17]:
print(df.review[[15,100,200,300,400,500,600,700,800,900,1000]])

15      (MUST READ) Snapchat is something i use often ...
100     (MUST READ) Snapchat is something i use often ...
200     (MUST READ) Snapchat is something i use often ...
300     (MUST READ) Snapchat is something i use often ...
400     (MUST READ) Snapchat is something i use often ...
500     (MUST READ) Snapchat is something i use often ...
600     (MUST READ) Snapchat is something i use often ...
700     (MUST READ) Snapchat is something i use often ...
800     (MUST READ) Snapchat is something i use often ...
900     (MUST READ) Snapchat is something i use often ...
1000    (MUST READ) Snapchat is something i use often ...
Name: review, dtype: object

#### Lakukan Data cleaning pada data dengan nilai duplikat.

<li> Karena Data tadinya tidak ada duplikat, jadi kita bikin menjadi ada

In [18]:
duplicate1 = pd.DataFrame([[1, 'Andre', 3, 
                            'Im sorry to say it but something is definitely wrong with Snapchat', 'FALSE', '10/14/20 2:13', 'What happened']],
                        columns = ['Number', 'userName', 'rating', 'review', 'isEdited', 'date', 'title'])

duplicate2 = pd.DataFrame([[1, 'Andre', 3, 
                            'Im sorry to say it but something is definitely wrong with Snapchat.', 'FALSE', '10/14/20 2:13', 'What happened']],
                        columns = ['Number', 'userName', 'rating', 'review', 'isEdited', 'date', 'title'])

df = df.append([duplicate1, duplicate2], ignore_index=True)

C:\Users\User\AppData\Local\Temp\ipykernel_8780\456454592.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append([duplicate1, duplicate2], ignore_index=True)

In [19]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

0

In [20]:
df.drop_duplicates(inplace=True)

hasil = df.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

#### Mengganti tipe data salah satu attribute angka

<li> Mengganti tipe data Number yang sebelumnya float menjadi int

In [21]:
print("Tipe data Number sebelum di ubah :")
df.dtypes

Tipe data Number sebelum di ubah :

Number      float64
userName     object
rating      float64
review       object
isEdited     object
date         object
title        object
dtype: object

In [22]:
df['Number'] = df['Number'].astype('int64')

print("Tipe data Number sesudah di ubah :")
df.dtypes

Tipe data Number sesudah di ubah :

Number        int64
userName     object
rating      float64
review       object
isEdited     object
date         object
title        object
dtype: object

#### Melakukan One hOt Encoding pada Dataset

In [23]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(df[["review"]])
df_onehot = pd.DataFrame(onehot)
df_encoder = df.join(df_onehot)
df_encoder.head()

D:\venv_C1-21\Andre_121\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Number,userName,rating,review,isEdited,date,title,0,1,2,...,9541,9542,9543,9544,9545,9546,9547,9548,9549,9550
0,0,Savvanananahhh,4.0,For the most part I quite enjoy Snapchat it‚Äôs ...,False,10/4/20 6:01,Performance issues,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Idek 9-101112,3.0,"I‚Äôm sorry to say it, but something is definite...",False,10/14/20 2:13,What happened?,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,William Quintana,3.0,Snapchat update ruined my story organization! ...,False,7/31/20 19:54,STORY ORGANIZATION RUINED!,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,an gonna be unkownüòè,5.0,I really love the app for how long i have been...,False,4/22/21 14:10,The app is great,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,gzhangziqi,1.0,This is super frustrating. I was in the middle...,False,10/2/20 13:58,"Locked me out, customer service not helping",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0